[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"antlr4-python3-runtime" = "*"
numpy = "*"
nltk = "*"
hmmlearn = "*"
colorama = "*"

[dev-packages]
pylint = "*"
rope = "*"

[requires]
python_version = "3.6"
