[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "pylint insyn.py grammar/structure.py grammar/tree_helper.py analyze/db_handler.py analyze/fixer.py"

[packages]
antlr4-python3-runtime = "*"
numpy = "*"
nltk = "*"
hmmlearn = "*"
colorama = "*"
networkx = "*"
pydot = "*"
javac-parser = "*"
pomegranate = "*"

[dev-packages]
pylint = "*"
rope = "*"
pep8 = "*"
autopep8 = "*"

[requires]
python_version = "3.6"
